ul{
    color:cornflowerblue;
    list-style:none;
       position:absolute;
     right:10px;
}

img{
    width:50%;
      margin-top: 30px;  
}
img_1{
    width:30%;
    height:40%;
}
body{
    text-align: center;
    background: linear-gradient(cornflowerblue,white) 
}
h1{
  background-color: cornflowerblue; 
    color:azure;
}
h2{
  background-color: cornflowerblue;
    color:azure;
}
p{
 background-color: cornflowerblue;
 color: azure;
}
#contacts h2{
    display: inline;
}
#contacts{
    margin-top:10px;
}